Click==7.0
cycler==0.10.0
decorator==4.4.1
dlib==19.19.0
face-recognition==1.2.3
face-recognition-models==0.3.0
imageio==2.6.1
imutils==0.5.3
kiwisolver==1.1.0
matplotlib==3.1.2
networkx==2.4
numpy==1.18.0
opencv-python==4.1.2.30
Pillow==9.0.0
pkg-resources==0.0.0
pyparsing==2.4.6
PyQt5==5.14.0
PyQt5-sip==12.7.0
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.16.2
scipy==1.4.1
six==1.13.0
